.logo {
  height: 72px;
  width: 72px;
}

.card {
  width: 35em;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.itemAmount {
  padding-inline: 30%;
}

.centerText {
  text-align: center;
}

.emptyCart h2 {
  margin-bottom: 0.5em;
}

.emptyCart a {
  text-decoration: none;
  font-size: 20px;
}

.cartCount {
  padding: 4px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 100%;
}